     * {
      margin: 0;
    }
    
    body {
      font-family:'Livvic', sans-serif;;
    }

    .page-width {
      max-width: 1440px;
      margin: 0 auto;
    }

    .profile-box {
      background-color: #3a86ff;
      margin-bottom: -300px;
    }

    #highlighted-title {
      font-size: 6em;
      text-align: center;
      padding-top: 100px
    }

    h1 {
      color: white;
    }

    .info-and-picture {
      max-width: 1440px;
      margin: 300px auto;
      border: 1px solid #3a86ff;
      position: relative;
      height: 400px;
      padding-bottom: 200px;
    }

    .profile-picture {
      /*border: 1px solid red;*/
      float: left;
    }

    .profile-picture img{
      width: 400px
    }

    .semi-circle {
      border-radius: 50px;
    }

    .profile-text {
      /*border: 1px solid blue;*/
      margin-top: 15%;
      margin: 11% 10px 11% 30%;
    }

    .profile-text p {
      font-size: 1.5em;
      text-align: center;
      color: #fff;
    }

    .clearfix {
      overflow: auto;
    }

    .clearfix::after {
      content: "";
      clear: both;
      display: table;
    }

    .wave img{
      width: 100%;
      filter: saturate(2.5);
    }

    .section-2 {
      margin-top: -100px
    }

    .title-skills-box{
      display: block;
      float: left;
      margin: 200px 0 -250px 100px;
      offset: 999;
    }

    .title-skills{
      font-size: 10em;
      color: #3a86ff;
      offset: 998;
    }

    .list-skills-box{
      display: inline-block;
      /*border: 1px solid green;*/
      align-items: center;
      margin: 380px 0% 0 25%;
    }

    .list-skills {
      font-size: 2em;
      letter-spacing: 2px;
    }

    .skills-box {
      margin-bottom: 150px;
    }
  
    .line {
      display: block;
      width: 80%;
      min-width: 490px;
      height: 25px;
      background-color: #3a86ff;
      position: relative;
      top: 350px;
      left: 50px;
      offset: 997;
    }

    .line2 {
      display: block;
      width: 80%;
      min-width: 490px;
      height: 25px;
      background-color: #3a86ff;
      position: relative;
      top: 640px;
      left: 50px;
      offset: 997;
    }

    .wave2 img{
      margin-top: 90px;
      width: 100%;
      filter: saturate(2.5);
      transform: rotate(180deg);
    }

    .section-3 {
      background-color: #3a86ff;
      margin-top:-10px;
      padding: 10px;
    }

    .recommendation-link {
      float: right;
      margin-top: 100px
    }

    .section-3 .buttun {
      padding: 65px 85px;
      background-color: #fff;
      border-radius: 30px;
      margin-top: 0;
    }

    .section-3 .buttun:hover {
      background-color: rgb(233, 233, 233)
    }

    .section-3 a {
      font-family: Arial, Helvetica, sans-serif;
      text-decoration: none;
      font-size: 3em;
      font-weight: 900;
      color: #3a86ff;
    }

    .recommendation-website {
      height: 300px
    }

    .recommendation-text{
      float: left;
      margin: 70px 0 0 50px;
      max-width: 800px;
    }

    .recommendation-text p {
      font-size: 2em;
      color: #fff;
    }